/* 왼쪽 aside 콘텐츠 */

/* 로그인 박스 */

aside { 
    width: 190px;
}

aside #login_box {
    width: 186px;
    height: 120px;
    border: 1px solid #dddddd;
    border-radius: 10px; 
    background-color: #f3f3f3;
}

 aside #login_title {
    margin: 10px 0 0 10px; /* 마진 설정 - 시계방향 */
} 

aside #input_button{
    margin: 10px 0 0 10px;
}

aside #login_input input{
    width: 100px;
    height: 20px;
    border: 1px solid #dddddd;
}

aside #login_input {
    float: left;
}

aside #login_btn {
    float: left;
    margin : 3px 0 0 5px;
}

aside #login_input li {
    margin: 2px 0 0 0;
}

aside #join_search {
    margin: 8px 0 0 5px;
}

/* 방명록 (guestbook) */

aside #guestbook {
    width: 183px;
    height: 135px;
    border: 1px solid #dddddd;
    border-radius: 10px; 
    background-color: #eeeeee;
    margin-top: 15px;
    box-shadow: 2px 5px #dddddd;
    padding: 10px 0 0 5px;
}

aside #guestbook li {
    list-style-image: url("../img/icon_blue.gif");
    margin-top: 5px;
}

aside #guestbook_title {
    /* width: 165px; 오류 */
    border-bottom: 1px solid #cccccc;
    margin-left: 8px;
}

aside #guestbook ul {
    margin: 10px 0 0 40px;
}

/* main */

